@import "colors.scss";

div.header {
  width: 100%;
  height: 90px;
  background: $background-gray;
  display: flex;
  justify-content: center;
  margin-bottom: 5px;
  position: fixed;
  left: 0;
  top: 0;
}

div.header-frame {
  margin: auto;
  width: 100%;
  height: 100%;
  max-width: 1440px;
  background: $white;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

div.header-frame ul.header-logo {
  background-image: image-url('logo.png');
  background-repeat: no-repeat;
  background-size: contain;
  height: 80px;
  width: 250px;
  margin: 5px 30px;
  cursor: pointer;
}

div.header-frame ul.header-metion {

}
