@import "colors.scss";

div.header {
  width: 100%;
  height: 90px;
  background: $background-gray;
  display: flex;
  justify-content: center;
  margin-bottom: 5px;
  position: fixed;
  left: 0;
  top: 0;
}

div.header-frame {
  margin: auto;
  width: 100%;
  height: 100%;
  max-width: 1000px;
  background: $white;

  display: flex;
  flex-direction: row;
}

div.header-frame ul.header-logo {
  background-image: image-url('logo.png');
  background-repeat: no-repeat;
  background-size: contain;
  height: 80px;
  width: 250px;
  margin: 5px 30px;
  cursor: pointer;
}

ul.header-mentions {
  height: 80px;
  align-items: center;
  display: flex;
}
ul.header-mentions h1 {
  color: $text-gray;
  font-size: 18px;
  font-weight: normal;
  margin-top: 30px;
}
ul.header-mentions h1:hover {
  color: $eargo-blue;
  cursor: pointer;
}
